<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStorrageService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAccessService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3729/Service1.svc/auth" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAccessService" contract="ServiceReference1.IAccessService"
                name="WSHttpBinding_IAccessService">
                <identity>
                    <userPrincipalName value="Ruslan\Ruslanchik" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3729/Service1.svc/drive"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorrageService"
                contract="ServiceReference1.IStorrageService" name="BasicHttpBinding_IStorrageService" />
        </client>
    </system.serviceModel>
</configuration>